<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

          <!--    bootstrap5 package cdn-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <!--    bootstrap5 online cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    {% block content %}

    {% endblock content %}

    <!--    bootstrap5 package cdn-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!--    bootstrap5 online cdn-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>