<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Account Wallet | Edge Technology & Portfolio Management Advisory</title>
    <meta name="author" content="Edge Technology & Portfolio Management Advisory  ">
    <meta name="company" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="copyright" content="&copy; 2021 Edge Technology & Portfolio Management Advisory "/>
    <meta name="publisher" content="Edge Technology & Portfolio Management Advisory "/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta property="og:image" content="../assets/images/logo/edge-logo-2-1.png"/>
    <meta property="og:title" content=" Account Wallet | Edge Technology & Portfolio Management Advisory"/>
    <meta property="og:description" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="keywords" content="Edge Technology & Portfolio Management Advisory ">
    <meta name="Description" content="Edge Technology & Portfolio Management Advisory ">
    <link rel="icon" href="../assets/images/logo/fav.png"/>

    <link rel="stylesheet" href="../assets_inside/css/dashlite.css?ver=2.9.1"/>
    <link id="skin-default" rel="stylesheet" href="../assets_inside/css/theme.css?ver=2.9.1"/>
    <link rel="stylesheet" href="../assets_inside/css/apps.css?ver=1.0111"/>
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../assets_inside/css/custom.css?ver=1.01111111"/>

</head>
<body class="nk-body npc-cryptlite has-sidebar has-sidebar-fat">
<div id="language_div">
    <div id="google_translate_element" style="width: auto;padding: 0;"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, 'google_translate_element');
        }
    </script>
</div>
<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-sidebar nk-sidebar-fat nk-sidebar-fixed is-dark" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a class="logo-link nk-sidebar-logo" href="../dashboard/">
                        <img
                                class="logo-img logo-light logo-img-md"
                                src="../assets/images/logo/logo-white.png"
                                srcset="../assets/images/logo/logo-white.png"
                                alt="Edge Technology"
                        />
                        <img
                                class="logo-img logo-dark logo-img-md"
                                src="../assets_inside/images/logo.png"
                                srcset="../assets_inside/images/logo.png"
                                alt="Edge Technology"
                        />
                    </a>
                </div>

                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                        <em class="icon ni ni-arrow-left"></em></a>
                </div>
            </div>

            <div class="nk-sidebar-element">
                <div class="nk-sidebar-body" data-simplebar>
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-widget d-none d-xl-block">
                            <div class="user-account-info between-center">
                                <div class="user-account-main">
                                    <h6 class="overline-title-alt">Account Balance</h6>
                                    <div class="user-balance">$0.00
                                        <small class="currency">USD</small></div>
                                </div>
                            </div>
                            <ul class="user-account-data gy-1">
                                <li>
                                    <div class="user-account-label">
                                        <span class="sub-text">Profits (Monday-Friday)</span>
                                    </div>
                                    <div class="user-account-value">
                                                <span class="lead-text">
                                                    $0.00
                                                    <span class="currency">USD</span>
                                                </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="user-account-actions">
                                <ul class="g-3">
                                    <li>
                                        <a href="../deposit" class="btn btn-primary"><span>Deposit</span></a>
                                    </li>
                                    <li>
                                        <a href="../withdrawal/" class="btn btn-warning"><span>Withdraw</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0">
                            <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="#">
                                <div class="user-card-wrap">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                                    <span>
                                                        <div class="user-avatar bg-purple"><span>PM</span></div>
                                                    </span>
                                        </div>
                                        <div class="user-info">
                                            <span class="lead-text">Paul Madison</span>
                                            <span class="sub-text">paulmadison.info@gmail.com</span>
                                        </div>
                                        <div class="user-action">
                                            <em class="icon ni ni-chevron-down"></em>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile">
                                <div class="user-account-info between-center">
                                    <div class="user-account-main">
                                        <h7 class="overline-title-alt">UID: #5642737531</h7>
                                        <h6 class="overline-title-alt">Account Balance</h6>
                                        <div class="user-balance">
                                            $0.00
                                            <small class="currency"></small>
                                        </div>
                                    </div>
                                </div>
                                <ul class="user-account-data">
                                    <li>
                                        <div class="user-account-label">
                                            <span class="sub-text">Profits (Monday-Friday)</span>
                                        </div>
                                        <div class="user-account-value">
                                            <div class="user-account-value">
                                                        <span class="lead-text">
                                                            $0.00                                                            <span
                                                                class="currency"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="user-account-links">
                                    <li>
                                        <a href="../withdrawal/" class="link"><span>Withdraw Funds</span> <em
                                                class="icon ni ni-wallet-out"></em></a>
                                    </li>
                                    <li>
                                        <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                class="icon ni ni-wallet-in"></em></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../account-profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-settings/"><em class="icon ni ni-setting-alt"></em><span>Account Settings</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-profile#kyc_section"><em class="icon ni ni-lock"></em><span>KYC Verification</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-activities/"><em class="icon ni ni-activity-alt"></em><span> Activity</span></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../logout/" onclick="//logout(0);">
                                            <em class="icon ni ni-signout"></em>
                                            <spean>Sign out</spean>
                                        </a>
                                    </li>
                                </ul>
                                <form id="logout-form" method="POST" style="display: none" onsubmit="return false;">
                                    <input type="hidden" name="logout" id="logout" value="1"/>
                                    <input type="hidden" name="uid" id="uid" value="5642737531"/>
                                </form>
                            </div>
                        </div>

                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Menu</h6>
                                </li>
                                <li class="nk-menu-item  ">
                                    <a href="../dashboard/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../transactions/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                        <span class="nk-menu-text">Transactions</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../investment/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">My Investment</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../pricing/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">Investment Plans</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../resources/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-archive-fill"></em></span>
                                        <span class="nk-menu-text">Resources</span>
                                    </a>
                                </li>

                                <li class="nk-menu-item active">
                                    <a href="../account-profile/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                        <span class="nk-menu-text">My Profile</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../referral/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-share"></em></span>
                                        <span class="nk-menu-text">Referrals</span>
                                    </a>
                                </li>
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Additional</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="../" target="_blank" class="nk-menu-link">
                                        <span class="nk-menu-text">Go to Main Website</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="nk-sidebar-footer">
                            <ul class="nk-menu nk-menu-footer">
                                <li class="nk-menu-item ">
                                    <a href="../support/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-question"></em></span>
                                        <span class="nk-menu-text">Support Center</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-wrap">
            <div class="nk-header nk-header-fluid nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>

                        <div class="nk-header-brand d-xl-none">
                            <a class="logo-link" href="../dashboard/">
                                <img
                                        class="logo-img logo-light"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                                <img
                                        class="logo-img logo-dark"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                            </a>
                        </div>

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="icon ni ni-user-alt"></em>
                                            </div>
                                            <div class="user-info d-none d-md-block">
                                                <div class="user-status user-status-verified">Verified</div>
                                                <div class="user-name dropdown-indicator">Paul Madison</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                            <span>
                                                                <div class="user-avatar bg-purple"><span>PM</span></div>
                                                            </span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">Paul Madison</span>
                                                    <span class="sub-text">paulmadison.info@gmail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner user-account-info">
                                            <h7 class="overline-title-alt">Account Type: (Normal)</h7>
                                            <h6 class="overline-title-alt">Earnings </h6>
                                            <div class="user-balance">
                                                $0.00
                                                <small class="currency"> (Monday-Friday)</small>
                                            </div>
                                            <div class="user-balance-alt">
                                                $0.00
                                                <span class="currency"> (total)</span>
                                            </div>
                                            <ul class="user-account-links">
                                                <li>
                                                    <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                            class="icon ni ni-wallet-in"></em></a>
                                                </li>
                                                <li>
                                                    <a href="../withdrawal/" class="link"><span>Withdraw Funds</span>
                                                        <em class="icon ni ni-wallet-out"></em></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../account-profile/"><em
                                                            class="icon ni ni-user"></em><span>View Profile</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-profile#kyc_section">
                                                        <em class="icon ni ni-lock"></em>
                                                        <span>
                                                                    KYC Verification
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../account-settings/"><em
                                                            class="icon ni ni-setting-alt"></em><span>Security Setting</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-activities/"><em
                                                            class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../logout/" onclick="//logout(0);">
                                                        <em class="icon ni ni-signout"></em>
                                                        <spean>Sign out</spean>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-content nk-content-fluid" style="">
                <div class="container-xl wide-lg">
                    <div class="nk-content-body">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title fw-normal">Payment Accounts</h2>
                                <div class="nk-block-des">
                                    <p>You have full control to manage your own account settings.</p>
                                </div>
                            </div>
                        </div>
                        <ul class="nk-nav nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="../account-profile/">Profile</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="../add-account/">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../account-settings/">Security</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../account-activities/">Activity</a>
                            </li>
                        </ul>
                        <div class="card card-full card-bordered card-wg on-bottom is-primary">
                            <div class="card-inner">
                                <div class="nk-block">
                                    <div class="alert alert-warning">
                                        <div class="alert-cta flex-wrap flex-md-nowrap g-2">
                                            <div class="alert-text">
                                                <p>
                                                    Please add the personal or company accounts that you&#039;d
                                                    like to withdraw funds to.
                                                </p>
                                                <p>
                                                    You can add a maximum of three (3) accounts.
                                                </p>
                                            </div>
                                            <div class="alert-actions">
                                                <ul class="gx-3 my-1 my-sm-0">
                                                    <li class="order-md-last dropdown">
                                                        <button type="button" class="btn btn-primary"
                                                                data-toggle="modal" data-target="#modalForm">
                                                            Add Account
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered" style=" margin-top: 15px">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Account Label</th>
                                        <th scope="col">Account Type</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="5"><strong>You have not added any withdraw account yet</strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="notes mt-4">
                                    <ul>
                                        <li class="alert-note is-plain text-danger">
                                            <em class="icon ni ni-alert-circle"></em>
                                            <p>Your updated information only effects on new withdrawal requests.</p>
                                        </li>
                                        <li class="alert-note is-plain">
                                            <em class="icon ni ni-info"></em>
                                            <p>Enter your correct information for receiving payment.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
                <div class="modal fade" id="modalForm">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Wallet Address</h5>

                                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em
                                        class="icon ni ni-cross"></em></a>
                            </div>
                            <div class="modal-body">
                                <p>Add your Crypto Wallet address to withdraw your funds.</p>
                                <form onsubmit="return false;" id="wallet_form" method="POST" class="form">
                                    <div class="row gy-3">
                                        <div class="col-md-12" data-select2-id="35">
                                            <div class="row gx-1" data-select2-id="34">
                                                <div class="col-8 col-md-8">
                                                    <div class="form-group">
                                                        <label class="form-label" for="wallet">Account Label <span
                                                                class="text-danger">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control form-control-lg"
                                                                   placeholder="Lable is used to identify each wallet"
                                                                   autocomplete="off" name="wallet_label"
                                                                   id="wallet_label" required=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4" data-select2-id="33">
                                                    <div class="form-group" data-select2-id="32">
                                                        <label class="form-label" for="wa_symbol">Account Type</label>
                                                        <div class="form-control-wrap" data-select2-id="31">
                                                            <select name="wa_symbol" id="wa_symbol"
                                                                    class="form-select select2-hidden-accessible"
                                                                    onchange="check_selected(this.value)" data-ui="lg"
                                                                    data-select2-id="paypal-currency" tabindex="-1"
                                                                    aria-hidden="true">
                                                                <option value="BTC" data-select2-id="40">BTC</option>
                                                                <option value="ETH" data-select2-id="41">ETH</option>
                                                                <option value="LTC" data-select2-id="42">LTC</option>
                                                                <option value="BCH" data-select2-id="43">BCH</option>
                                                                <option value="USDT(ERC20)" data-select2-id="44">
                                                                    USDT(ERC20)
                                                                </option>
                                                                <option value="BNB" data-select2-id="45">BNB</option>
                                                                <option value="USDT(TRC20)" data-select2-id="46">
                                                                    USDT(TRC20)
                                                                </option>
                                                                <option value="TRX" data-select2-id="47">TRX</option>
                                                                <option value="Bank" data-select2-id="48">Bank Details
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-note mt-2">You will receive payment on this account
                                                        in selected currency.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="wallet_holder">
                                            <div class="form-group">
                                                <label class="form-label" for="wallet">Wallet Address
                                                    <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="wallet address here..."
                                                           autocomplete="off" name="wallet" id="wallet" required=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="bank_holder" style=" display: none">

                                            <div class="form-group">
                                                <label class="form-label" for="bank_name">Bank Name
                                                    <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="Bank Name..."
                                                           autocomplete="off" name="bank_name" id="bank_name"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="acct_name">Account Name
                                                    <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="Account Name..."
                                                           autocomplete="off" name="acct_name" id="acct_name"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="acct_num">Account Number
                                                    <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="Account Number..."
                                                           autocomplete="off" name="acct_num" id="acct_num"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="route_num">Routing Number <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="Routing Number..."
                                                           autocomplete="off" name="route_num" id="route_num"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="iban">IBAN <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="IBAN..."
                                                           autocomplete="off" name="iban" id="iban"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="swift">Swift Code <span> </span></label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control form-control-lg"
                                                           placeholder="Swift Code..."
                                                           autocomplete="off" name="swift" id="swift"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="account_details">Other Details (Optional)
                                                    <span> </span></label>
                                                <div class="form-note mt-2">Any other details should be entered below.
                                                </div>
                                                <div class="form-control-wrap">
                                                            <textarea name="account_details" id="account_details"
                                                                      class="form-control form-control-lg"
                                                                      placeholder="Other Details..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider stretched"></div>
                                    <div class="row gy-3">
                                        <div class="col-12">
                                            <div class="text-center" id="wallet_status"
                                                 style=" margin-bottom: 20px"></div>
                                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                <li>
                                                    <button type="button" class="btn btn-primary" id="wallet_btn"
                                                            name="wallet_btn" onclick="add_wallet_acct()">
                                                        <span>Add Account</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer bg-light"><span class="sub-text"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright">Edge Technology &copy; 2022. All Rights Reserved.</div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item">
                                    <a class="nav-link" href="../faq/">FAQs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../terms-of-service/">Terms and Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../privacy-policy-page/">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets_inside/js/bundle.js"></script>
<script src="../assets_inside/js/app.js"></script>
<script src="../assets_inside/js/charts.js"></script>

<!-- End custom js for this page -->
<script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../controller/scripts/otybJS.js?v=1.1"></script>
<script src="../controller/scripts/account.js?v=1.01111"></script>
<script src="../controller/scripts/main.js?v=1.0111"></script>
<script src="../wp-includes/js/afsvgtehdujfirkl.js?v=1.01113" type="text/javascript"></script>
<!--Start of Tawk.to Script (0.6.0)-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {};
    var Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/61dacd1bb84f7301d32a15d6/1fovb2dn6";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script (0.6.0)-->
</body>

</html>