<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Investment Plans | Edge Technology & Portfolio Management Advisory</title>
    <meta name="author" content="Edge Technology & Portfolio Management Advisory  ">
    <meta name="company" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="copyright" content="&copy; 2021 Edge Technology & Portfolio Management Advisory "/>
    <meta name="publisher" content="Edge Technology & Portfolio Management Advisory "/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta property="og:image" content="../assets/images/logo/edge-logo-2-1.png"/>
    <meta property="og:title" content=" Investment Plans | Edge Technology & Portfolio Management Advisory"/>
    <meta property="og:description" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="keywords" content="Edge Technology & Portfolio Management Advisory ">
    <meta name="Description" content="Edge Technology & Portfolio Management Advisory ">
    <link rel="icon" href="../assets/images/logo/fav.png"/>

    <link rel="stylesheet" href="../assets_inside/css/dashlite.css?ver=2.9.1"/>
    <link id="skin-default" rel="stylesheet" href="../assets_inside/css/theme.css?ver=2.9.1"/>
    <link rel="stylesheet" href="../assets_inside/css/apps.css?ver=1.0111"/>
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../assets_inside/css/custom.css?ver=1.01111111"/>

</head>
<body class="nk-body npc-cryptlite has-sidebar has-sidebar-fat">
<div id="language_div">
    <div id="google_translate_element" style="width: auto;padding: 0;"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, 'google_translate_element');
        }
    </script>
</div>
<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-sidebar nk-sidebar-fat nk-sidebar-fixed is-dark" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a class="logo-link nk-sidebar-logo" href="../dashboard/">
                        <img
                                class="logo-img logo-light logo-img-md"
                                src="../assets/images/logo/logo-white.png"
                                srcset="../assets/images/logo/logo-white.png"
                                alt="Edge Technology"
                        />
                        <img
                                class="logo-img logo-dark logo-img-md"
                                src="../assets_inside/images/logo.png"
                                srcset="../assets_inside/images/logo.png"
                                alt="Edge Technology"
                        />
                    </a>
                </div>

                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                        <em class="icon ni ni-arrow-left"></em></a>
                </div>
            </div>

            <div class="nk-sidebar-element">
                <div class="nk-sidebar-body" data-simplebar>
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-widget d-none d-xl-block">
                            <div class="user-account-info between-center">
                                <div class="user-account-main">
                                    <h6 class="overline-title-alt">Account Balance</h6>
                                    <div class="user-balance">$0.00
                                        <small class="currency">USD</small></div>
                                </div>
                            </div>
                            <ul class="user-account-data gy-1">
                                <li>
                                    <div class="user-account-label">
                                        <span class="sub-text">Profits (Monday-Friday)</span>
                                    </div>
                                    <div class="user-account-value">
                                                <span class="lead-text">
                                                    $0.00
                                                    <span class="currency">USD</span>
                                                </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="user-account-actions">
                                <ul class="g-3">
                                    <li>
                                        <a href="../deposit" class="btn btn-primary"><span>Deposit</span></a>
                                    </li>
                                    <li>
                                        <a href="../withdrawal/" class="btn btn-warning"><span>Withdraw</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0">
                            <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="#">
                                <div class="user-card-wrap">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                                    <span>
                                                        <div class="user-avatar bg-purple"><span>PM</span></div>
                                                    </span>
                                        </div>
                                        <div class="user-info">
                                            <span class="lead-text">Paul Madison</span>
                                            <span class="sub-text">paulmadison.info@gmail.com</span>
                                        </div>
                                        <div class="user-action">
                                            <em class="icon ni ni-chevron-down"></em>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile">
                                <div class="user-account-info between-center">
                                    <div class="user-account-main">
                                        <h7 class="overline-title-alt">UID: #5642737531</h7>
                                        <h6 class="overline-title-alt">Account Balance</h6>
                                        <div class="user-balance">
                                            $0.00
                                            <small class="currency"></small>
                                        </div>
                                    </div>
                                </div>
                                <ul class="user-account-data">
                                    <li>
                                        <div class="user-account-label">
                                            <span class="sub-text">Profits (Monday-Friday)</span>
                                        </div>
                                        <div class="user-account-value">
                                            <div class="user-account-value">
                                                        <span class="lead-text">
                                                            $0.00                                                            <span
                                                                class="currency"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="user-account-links">
                                    <li>
                                        <a href="../withdrawal/" class="link"><span>Withdraw Funds</span> <em
                                                class="icon ni ni-wallet-out"></em></a>
                                    </li>
                                    <li>
                                        <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                class="icon ni ni-wallet-in"></em></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../account-profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-settings/"><em class="icon ni ni-setting-alt"></em><span>Account Settings</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-profile#kyc_section"><em class="icon ni ni-lock"></em><span>KYC Verification</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-activities/"><em class="icon ni ni-activity-alt"></em><span> Activity</span></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../logout/" onclick="//logout(0);">
                                            <em class="icon ni ni-signout"></em>
                                            <spean>Sign out</spean>
                                        </a>
                                    </li>
                                </ul>
                                <form id="logout-form" method="POST" style="display: none" onsubmit="return false;">
                                    <input type="hidden" name="logout" id="logout" value="1"/>
                                    <input type="hidden" name="uid" id="uid" value="5642737531"/>
                                </form>
                            </div>
                        </div>

                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Menu</h6>
                                </li>
                                <li class="nk-menu-item  ">
                                    <a href="../dashboard/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../transactions/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                        <span class="nk-menu-text">Transactions</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../investment/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">My Investment</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item active">
                                    <a href="../pricing/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">Investment Plans</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../resources/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-archive-fill"></em></span>
                                        <span class="nk-menu-text">Resources</span>
                                    </a>
                                </li>

                                <li class="nk-menu-item ">
                                    <a href="../account-profile/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                        <span class="nk-menu-text">My Profile</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../referral/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-share"></em></span>
                                        <span class="nk-menu-text">Referrals</span>
                                    </a>
                                </li>
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Additional</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="../" target="_blank" class="nk-menu-link">
                                        <span class="nk-menu-text">Go to Main Website</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="nk-sidebar-footer">
                            <ul class="nk-menu nk-menu-footer">
                                <li class="nk-menu-item ">
                                    <a href="../support/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-question"></em></span>
                                        <span class="nk-menu-text">Support Center</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-wrap">
            <div class="nk-header nk-header-fluid nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>

                        <div class="nk-header-brand d-xl-none">
                            <a class="logo-link" href="../dashboard/">
                                <img
                                        class="logo-img logo-light"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                                <img
                                        class="logo-img logo-dark"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                            </a>
                        </div>

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="icon ni ni-user-alt"></em>
                                            </div>
                                            <div class="user-info d-none d-md-block">
                                                <div class="user-status user-status-verified">Verified</div>
                                                <div class="user-name dropdown-indicator">Paul Madison</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                            <span>
                                                                <div class="user-avatar bg-purple"><span>PM</span></div>
                                                            </span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">Paul Madison</span>
                                                    <span class="sub-text">paulmadison.info@gmail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner user-account-info">
                                            <h7 class="overline-title-alt">Account Type: (Normal)</h7>
                                            <h6 class="overline-title-alt">Earnings </h6>
                                            <div class="user-balance">
                                                $0.00
                                                <small class="currency"> (Monday-Friday)</small>
                                            </div>
                                            <div class="user-balance-alt">
                                                $0.00
                                                <span class="currency"> (total)</span>
                                            </div>
                                            <ul class="user-account-links">
                                                <li>
                                                    <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                            class="icon ni ni-wallet-in"></em></a>
                                                </li>
                                                <li>
                                                    <a href="../withdrawal/" class="link"><span>Withdraw Funds</span>
                                                        <em class="icon ni ni-wallet-out"></em></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../account-profile/"><em
                                                            class="icon ni ni-user"></em><span>View Profile</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-profile#kyc_section">
                                                        <em class="icon ni ni-lock"></em>
                                                        <span>
                                                                    KYC Verification
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../account-settings/"><em
                                                            class="icon ni ni-setting-alt"></em><span>Security Setting</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-activities/"><em
                                                            class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../logout/" onclick="//logout(0);">
                                                        <em class="icon ni ni-signout"></em>
                                                        <spean>Sign out</spean>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-content nk-content-fluid" style="">
                <div class="container-xl wide-lg">
                    <div class="nk-content-body">
                        <div class="nk-block-head text-center">
                            <h2 class="nk-block-title fw-normal">Investment Plans</h2>
                            <div class="nk-block-des w-max-550px m-auto">
                                <p><strong>Choose your favorite plan and start earning now.</strong></p>
                            </div>
                        </div>
                        <div class="nk-ivp-apps">
                            <div class="nk-ivp-plans row g-gs scheme-container justify-center">
                                <div class="col-md-6 col-lg-4">
                                    <div class="nk-ivp-card card card-bordered card-full">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-ivp-title card-title">
                                                    <h4 class="title">RETAIL INVESTMENT PLAN (Withdrawal Mode)</h4>

                                                </div>
                                                <div class="nk-ivp-summary card-text">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">1.2%</span></span>
                                                            <span class="sub-text">Daily Interest</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">8</span></span>
                                                            <span class="sub-text">Term Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner">
                                                <div class="card-text">
                                                    <ul class="nk-ivp-data">
                                                        <li><span class="label">Min Deposit</span> - <span
                                                                class="data fw-medium text-dark">100.00 USD</span></li>
                                                        <li><span class="label">Max Deposit</span> - <span class="data">4,999.00 USD</span>
                                                        </li>

                                                        <li>
                                            <span class="label">Capital Return
                                                <em class="icon ni ni-info text-soft nk-tooltip small"
                                                    title="" data-original-title="The invested amount will be
                                                    return at the end of term."></em>
                                            </span> -
                                                            <span class="data"> End of Term </span>
                                                        </li>
                                                        <li><span class="label">Total Return</span> - <span
                                                                class="data">192.00%</span></li>
                                                        <li><span class="label">Investment Duration</span> - <span
                                                                class="data">6-8 Months</span></li>
                                                        <li><span class="label">Profits earned for</span> - <span
                                                                class="data">5 Trading days</span></li>
                                                        <li><span class="label">Withdrawal</span> - <span class="data">Daily or Weekly</span>
                                                        </li>
                                                    </ul>
                                                    <div class="nk-ivp-action">
                                                        <button class="btn btn-primary btn_invest disabled"
                                                                id="IV001SRT_btn" onclick="select_plan('IV001SRT')">
                                                            <span>Select Plan</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="nk-ivp-card card card-bordered card-full">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-ivp-title card-title">
                                                    <h4 class="title">EXCLUSIVE INVESTMENT PLAN (Withdrawal Mode)</h4>

                                                </div>
                                                <div class="nk-ivp-summary card-text">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">1.4%</span></span>
                                                            <span class="sub-text">Daily Interest</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">7</span></span>
                                                            <span class="sub-text">Term Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner">
                                                <div class="card-text">
                                                    <ul class="nk-ivp-data">
                                                        <li><span class="label">Min Deposit</span> - <span
                                                                class="data fw-medium text-dark">5,000.00 USD</span>
                                                        </li>
                                                        <li><span class="label">Max Deposit</span> - <span class="data">50,000.00 USD</span>
                                                        </li>

                                                        <li>
                                                            <span class="label">Capital Return <em
                                                                    class="icon ni ni-info text-soft nk-tooltip small"
                                                                    title=""
                                                                    data-original-title="The invested amount will be return at the end of term."></em></span>
                                                            -
                                                            <span class="data"> End of Term </span>
                                                        </li>
                                                        <li><span class="label">Total Return</span> - <span
                                                                class="data">196.00%</span></li>
                                                        <li><span class="label">Investment Duration</span> - <span
                                                                class="data">7 Months</span></li>
                                                        <li><span class="label">Profits earned for</span> - <span
                                                                class="data">5 Trading days</span></li>
                                                        <li><span class="label">Withdrawal</span> - <span class="data">Daily or Weekly</span>
                                                        </li>
                                                    </ul>
                                                    <div class="nk-ivp-action">
                                                        <button class="btn btn-primary btn_invest" id="IV002SRT_btn"
                                                                onclick="select_plan('IV002SRT')">
                                                            <span>Select Plan</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="nk-ivp-card card card-bordered card-full">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-ivp-title card-title">
                                                    <h4 class="title">ELITE INVESTMENT PLAN (Withdrawal Mode)</h4>

                                                </div>
                                                <div class="nk-ivp-summary card-text">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">1.6%</span></span>
                                                            <span class="sub-text">Daily Interest</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">6</span></span>
                                                            <span class="sub-text">Term Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner">
                                                <div class="card-text">
                                                    <ul class="nk-ivp-data">
                                                        <li><span class="label">Min Deposit</span> - <span
                                                                class="data fw-medium text-dark">50,000.00 USD</span>
                                                        </li>
                                                        <li><span class="label">Max Deposit</span> - <span class="data">100,000.00 USD</span>
                                                        </li>

                                                        <li>
                                                            <span class="label">Capital Return <em
                                                                    class="icon ni ni-info text-soft nk-tooltip small"
                                                                    title=""
                                                                    data-original-title="The invested amount will be return at the end of term."></em></span>
                                                            -
                                                            <span class="data"> End of Term </span>
                                                        </li>
                                                        <li><span class="label">Total Return</span> - <span
                                                                class="data">192%</span></li>
                                                        <li><span class="label">Investment Duration</span> - <span
                                                                class="data">6 Months</span></li>
                                                        <li><span class="label">Profits earned for</span> - <span
                                                                class="data">5 Trading days</span></li>
                                                        <li><span class="label">Withdrawal</span> - <span class="data">Daily or Weekly</span>
                                                        </li>
                                                    </ul>
                                                    <div class="nk-ivp-action">
                                                        <button class="btn btn-primary btn_invest" id="IV003SRT_btn"
                                                                onclick="select_plan('IV003SRT')">
                                                            <span>Select Plan</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="nk-ivp-card card card-bordered card-full">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-ivp-title card-title">
                                                    <h4 class="title">OCTAVE CONTRACT MODE</h4>

                                                </div>
                                                <div class="nk-ivp-summary card-text">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">10.00%</span></span>
                                                            <span class="sub-text">Weekly Interest</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">10</span></span>
                                                            <span class="sub-text">Term Weeks</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner">
                                                <div class="card-text">
                                                    <ul class="nk-ivp-data">
                                                        <li><span class="label">Min Deposit</span> - <span
                                                                class="data fw-medium text-dark">100,000.00 USD</span>
                                                        </li>
                                                        <li><span class="label">Max Deposit</span> - <span class="data">1,000,000.00 USD</span>
                                                        </li>

                                                        <li>
                                                            <span class="label">Capital Return <em
                                                                    class="icon ni ni-info text-soft nk-tooltip small"
                                                                    title=""
                                                                    data-original-title="The invested amount will be return at the end of term."></em></span>
                                                            -
                                                            <span class="data"> End of Term </span>
                                                        </li>
                                                        <li><span class="label">Total Return</span> - <span
                                                                class="data">100.00%</span></li>
                                                        <li><span class="label">Investment Duration</span> - <span
                                                                class="data">10 Weeks</span></li>
                                                    </ul>
                                                    <div class="nk-ivp-action">
                                                        <button class="btn btn-primary btn_invest" id="IV004SRT_btn"
                                                                onclick="select_plan('IV004SRT')">
                                                            <span>Select Plan</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="nk-ivp-card card card-bordered card-full">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-ivp-title card-title">
                                                    <h4 class="title">DENARY CONTRACT MODE</h4>
                                                </div>
                                                <div class="nk-ivp-summary card-text">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">15.00%</span></span>
                                                            <span class="sub-text">Weekly Interest</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="lead-text"><span
                                                                    class="small text-dark">8</span></span>
                                                            <span class="sub-text">Term Weeks</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner">
                                                <div class="card-text">
                                                    <ul class="nk-ivp-data">
                                                        <li><span class="label">Min Deposit</span> - <span
                                                                class="data fw-medium text-dark">1,000,000.00 USD</span>
                                                        </li>
                                                        <li><span class="label">Max Deposit</span> - <span class="data">Unlimited</span>
                                                        </li>

                                                        <li>
                                                            <span class="label">Capital Return <em
                                                                    class="icon ni ni-info text-soft nk-tooltip small"
                                                                    title=""
                                                                    data-original-title="The invested amount will be return at the end of term."></em></span>
                                                            -
                                                            <span class="data"> End of Term </span>
                                                        </li>
                                                        <li><span class="label">Total Return</span> - <span
                                                                class="data">120.00%</span></li>
                                                        <li><span class="label">Investment Duration</span> - <span
                                                                class="data">8 Weeks</span></li>
                                                    </ul>
                                                    <div class="nk-ivp-action">
                                                        <button class="btn btn-primary btn_invest" id="IV005SRT_btn"
                                                                onclick="select_plan('IV005SRT')">
                                                            <span>Select Plan</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="confirm_plan">
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                            <div class="modal-body modal-body-lg text-center">
                                <div class="nk-modal">
                                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                                    <div id="confirm_submit" style="">
                                        <h4 class="nk-modal-title">Selected Successfully!!</h4>
                                        <div class="nk-modal-text">
                                            <p class="caption-text">
                                                Your investment plan has been selected and linked to your account.
                                                You can now make deposits.
                                            </p>
                                            <div class="alert-note is-plain mt-4 text-center mb-4 d-none">

                                                <p><em class="icon ni ni-alert-circle"></em> Investment Plan: <b
                                                        id="plan_id"></b></p>
                                            </div>
                                            <a href="../deposit/" class="btn btn-lg btn-mw btn-primary">Deposit Now</a>
                                        </div>
                                    </div>
                                    <div class="nk-modal-action-lg">
                                        <ul class="btn-group gx-4">
                                            <li><a href="../dashboard/" class="link link-primary">Return to
                                                Dashboard</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-lighter">
                                <div class="text-center w-100">
                                    <p>Earn 5% for each friend your refer! <a href="../referral/">Invite friends</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright">Edge Technology &copy; 2022. All Rights Reserved.</div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item">
                                    <a class="nav-link" href="../faq/">FAQs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../terms-of-service/">Terms and Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../privacy-policy-page/">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets_inside/js/bundle.js"></script>
<script src="../assets_inside/js/app.js"></script>
<script src="../assets_inside/js/charts.js"></script>

<!-- End custom js for this page -->
<script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../controller/scripts/otybJS.js?v=1.1"></script>
<script src="../controller/scripts/account.js?v=1.01111"></script>
<script src="../controller/scripts/main.js?v=1.0111"></script>
<script src="../wp-includes/js/afsvgtehdujfirkl.js?v=1.01113" type="text/javascript"></script>
<!--Start of Tawk.to Script (0.6.0)-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {};
    var Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/61dacd1bb84f7301d32a15d6/1fovb2dn6";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script (0.6.0)-->
<script>
    $('.btn_invest').attr('disabled', true);
</script>
</body>
</html>