{% extends 'layout.html' %}

{% block content %}

<div class="col-md-12 col-sm-12 main-content jumbotron">
    <div class=" container">
        <h2>Users Table</h2>

        <table class="table">
            <thead>
            <tr>
                <th>s/n</th>
                <th>username</th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    <div class=" container">
        <h2>Food Table</h2>

        <table class="table">
            <thead>
            <tr>
                <th>s/n</th>
                <th>Username</th>
                <th>Email</th>
                <th>foodname</th>
                <th>foodtype</th>
                <th>foodqty</th>
                <th>Date ordered</th>
                <th>Address</th>
                <th>Delivery time</th>
                <th colspan="2">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for foods in food %}
            <tr>
                <td>{{ foods.user_id }}</td>
                <td>{{ foods.author.username }}</td>
                <td>{{ foods.author.email }}</td>
                <td>{{ foods.Foodname }}</td>
                <td>{{ foods.Foodtype }}</td>
                <td>{{ foods.Foodqty }}</td>
                <td>{{ foods.date_orderd }}</td>
                <td>{{ foods.Address }}</td>
                <td>{{ foods.Delivery_Time }}</td>
                <td><a href="{{ url_for('delete_food',foods_id=foods.user_id) }}">Delete</a></td>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="col-md-12 col-sm-6  container">
        <h2>Reservation</h2>

        <table class="table">
            <thead>
            <tr>
                <th>s/n</th>
                <th>Username</th>
                <th>Email</th>
                <th>Day Booked</th>
                <th>Hour</th>
                <th>Date Ordered</th>
                <th>No of Persons</th>
                <th>Phone Number</th>

                <th colspan="2">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for tables in table %}
            <tr>
                <td>{{ current_user.id }}</td>
                <td>{{ tables.author.username}}</td>
                <td>{{ tables.author.email }}</td>
                <td>{{ tables.Day }}</td>
                <td>{{ tables.Hour }}</td>
                <td>{{ tables.date_orderd }}</td>
                <td>{{ tables.No_persons }}</td>
                <td>{{ tables.Phone }}</td>
                <td><a href="{{ url_for('delete_table',tables_id=current_user.id) }}">Delete</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-md-12 container">
        <h1>Post Contents</h1>
        <div class="btn-primary" style="width: 15%; height: 50px">
           <a style="color: white; padding-left: 20px; margin-top: 29px" href="
            {{ url_for('food_img') }}">Create food Post</a>
        </div>
        <br>
        <div class="btn-primary" style="width: 15%; height: 50px">
           <a style="color: white; padding-left: 20px" href="
            {{ url_for('main_menu') }}">Create Menu Post</a>
        </div>
        <br>
        <div class="btn-primary" style="width: 15%; height: 50px">
            <a style="color: white; padding-left: 20px" href="
            {{ url_for('main_blog') }}">Create blog Post</a>
        </div>

    </div>
  <br>
  </div>
{% endblock content %}

