{% extends 'layout.html' %}

{% block content %}


<style>

    .bg
    {
        /*backdrop-filter: drop-shadow(2px red);*/
    }

    @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
</style>

<section class="h-100 h-custom bg" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Welcome|<span style="color: tomato">Login</span>  </h3>

            <form method="POST">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
              <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
              </div>

              <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}
              </div>

                  <div class="form-check">
                      {{ form.remember(class="form-check-input") }}
                      {{ form.remember.label(class="form-check-label") }}
                  </div>

              </fieldset>

               <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>

                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>

            </form>

          </div>
          <div class="border-top pt-3 m-2">
            <small class="text-muted">
              Need An Account? <a class="ml-2" href="/register.html">Get Started</a>
            </small>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<p style="margin-bottom: 550px; background-color: #8fc4b7;"></p>


{% endblock %}