{% extends 'layout.html' %}

{% block content %}
        <h2>Withdraw Fund</h2>
    <br>
    <hr>
    <div class="container">
        <form action="/withdraw" method="post">
            <div class="mb-3">
                <label class="form-label">withdraw</label>
                <input type="text" name="withdraw" class="form-control" placeholder="$0.00">

             </div>

            <button type="submit" class="btn mt-3 btn-primary">Submit</button>
        </form>
    </div>

{% endblock content %}