<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Account Deposit | Edge Technology & Portfolio Management Advisory</title>
    <meta name="author" content="Edge Technology & Portfolio Management Advisory  ">
    <meta name="company" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="copyright" content="&copy; 2021 Edge Technology & Portfolio Management Advisory "/>
    <meta name="publisher" content="Edge Technology & Portfolio Management Advisory "/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta property="og:image" content="../assets/images/logo/edge-logo-2-1.png"/>
    <meta property="og:title" content=" Account Deposit | Edge Technology & Portfolio Management Advisory"/>
    <meta property="og:description" content="Edge Technology & Portfolio Management Advisory "/>
    <meta name="keywords" content="Edge Technology & Portfolio Management Advisory ">
    <meta name="Description" content="Edge Technology & Portfolio Management Advisory ">
    <link rel="icon" href="../assets/images/logo/fav.png"/>

    <link rel="stylesheet" href="../assets_inside/css/dashlite.css?ver=2.9.1"/>
    <link id="skin-default" rel="stylesheet" href="../assets_inside/css/theme.css?ver=2.9.1"/>
    <link rel="stylesheet" href="../assets_inside/css/apps.css?ver=1.0111"/>
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../assets_inside/css/custom.css?ver=1.01111111"/>

</head>
<body class="nk-body npc-cryptlite has-sidebar has-sidebar-fat">
<div id="language_div">
    <div id="google_translate_element" style="width: auto;padding: 0;"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, 'google_translate_element');
        }
    </script>
</div>
<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-sidebar nk-sidebar-fat nk-sidebar-fixed is-dark" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a class="logo-link nk-sidebar-logo" href="../dashboard/">
                        <img
                                class="logo-img logo-light logo-img-md"
                                src="../assets/images/logo/logo-white.png"
                                srcset="../assets/images/logo/logo-white.png"
                                alt="Edge Technology"
                        />
                        <img
                                class="logo-img logo-dark logo-img-md"
                                src="../assets_inside/images/logo.png"
                                srcset="../assets_inside/images/logo.png"
                                alt="Edge Technology"
                        />
                    </a>
                </div>

                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                        <em class="icon ni ni-arrow-left"></em></a>
                </div>
            </div>

            <div class="nk-sidebar-element">
                <div class="nk-sidebar-body" data-simplebar>
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-widget d-none d-xl-block">
                            <div class="user-account-info between-center">
                                <div class="user-account-main">
                                    <h6 class="overline-title-alt">Account Balance</h6>
                                    <div class="user-balance">$0.00
                                        <small class="currency">USD</small></div>
                                </div>
                            </div>
                            <ul class="user-account-data gy-1">
                                <li>
                                    <div class="user-account-label">
                                        <span class="sub-text">Profits (Monday-Friday)</span>
                                    </div>
                                    <div class="user-account-value">
                                                <span class="lead-text">
                                                    $0.00
                                                    <span class="currency">USD</span>
                                                </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="user-account-actions">
                                <ul class="g-3">
                                    <li>
                                        <a href="../deposit" class="btn btn-primary"><span>Deposit</span></a>
                                    </li>
                                    <li>
                                        <a href="../withdrawal/" class="btn btn-warning"><span>Withdraw</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0">
                            <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="#">
                                <div class="user-card-wrap">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                                    <span>
                                                        <div class="user-avatar bg-purple"><span>PM</span></div>
                                                    </span>
                                        </div>
                                        <div class="user-info">
                                            <span class="lead-text">Paul Madison</span>
                                            <span class="sub-text">paulmadison.info@gmail.com</span>
                                        </div>
                                        <div class="user-action">
                                            <em class="icon ni ni-chevron-down"></em>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile">
                                <div class="user-account-info between-center">
                                    <div class="user-account-main">
                                        <h7 class="overline-title-alt">UID: #5642737531</h7>
                                        <h6 class="overline-title-alt">Account Balance</h6>
                                        <div class="user-balance">
                                            $0.00
                                            <small class="currency"></small>
                                        </div>
                                    </div>
                                </div>
                                <ul class="user-account-data">
                                    <li>
                                        <div class="user-account-label">
                                            <span class="sub-text">Profits (Monday-Friday)</span>
                                        </div>
                                        <div class="user-account-value">
                                            <div class="user-account-value">
                                                        <span class="lead-text">
                                                            $0.00                                                            <span
                                                                class="currency"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="user-account-links">
                                    <li>
                                        <a href="../withdrawal/" class="link"><span>Withdraw Funds</span> <em
                                                class="icon ni ni-wallet-out"></em></a>
                                    </li>
                                    <li>
                                        <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                class="icon ni ni-wallet-in"></em></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../account-profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-settings/"><em class="icon ni ni-setting-alt"></em><span>Account Settings</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-profile#kyc_section"><em class="icon ni ni-lock"></em><span>KYC Verification</span></a>
                                    </li>
                                    <li>
                                        <a href="../account-activities/"><em class="icon ni ni-activity-alt"></em><span> Activity</span></a>
                                    </li>
                                </ul>
                                <ul class="link-list">
                                    <li>
                                        <a href="../logout/" onclick="//logout(0);">
                                            <em class="icon ni ni-signout"></em>
                                            <spean>Sign out</spean>
                                        </a>
                                    </li>
                                </ul>
                                <form id="logout-form" method="POST" style="display: none" onsubmit="return false;">
                                    <input type="hidden" name="logout" id="logout" value="1"/>
                                    <input type="hidden" name="uid" id="uid" value="5642737531"/>
                                </form>
                            </div>
                        </div>

                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Menu</h6>
                                </li>
                                <li class="nk-menu-item  ">
                                    <a href="../dashboard/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../transactions/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                        <span class="nk-menu-text">Transactions</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../investment/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">My Investment</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../pricing/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                        <span class="nk-menu-text">Investment Plans</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../resources/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-archive-fill"></em></span>
                                        <span class="nk-menu-text">Resources</span>
                                    </a>
                                </li>

                                <li class="nk-menu-item ">
                                    <a href="../account-profile/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                        <span class="nk-menu-text">My Profile</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item ">
                                    <a href="../referral/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-share"></em></span>
                                        <span class="nk-menu-text">Referrals</span>
                                    </a>
                                </li>
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Additional</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="../" target="_blank" class="nk-menu-link">
                                        <span class="nk-menu-text">Go to Main Website</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="nk-sidebar-footer">
                            <ul class="nk-menu nk-menu-footer">
                                <li class="nk-menu-item ">
                                    <a href="../support/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-question"></em></span>
                                        <span class="nk-menu-text">Support Center</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-wrap">
            <div class="nk-header nk-header-fluid nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>

                        <div class="nk-header-brand d-xl-none">
                            <a class="logo-link" href="../dashboard/">
                                <img
                                        class="logo-img logo-light"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                                <img
                                        class="logo-img logo-dark"
                                        src="../assets_inside/images/logo.png"
                                        alt="Edge Technology"
                                />
                            </a>
                        </div>

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="icon ni ni-user-alt"></em>
                                            </div>
                                            <div class="user-info d-none d-md-block">
                                                <div class="user-status user-status-verified">Verified</div>
                                                <div class="user-name dropdown-indicator">Paul Madison</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                            <span>
                                                                <div class="user-avatar bg-purple"><span>PM</span></div>
                                                            </span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">Paul Madison</span>
                                                    <span class="sub-text">paulmadison.info@gmail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner user-account-info">
                                            <h7 class="overline-title-alt">Account Type: (Normal)</h7>
                                            <h6 class="overline-title-alt">Earnings </h6>
                                            <div class="user-balance">
                                                $0.00
                                                <small class="currency"> (Monday-Friday)</small>
                                            </div>
                                            <div class="user-balance-alt">
                                                $0.00
                                                <span class="currency"> (total)</span>
                                            </div>
                                            <ul class="user-account-links">
                                                <li>
                                                    <a href="../deposit/" class="link"><span>Deposit Funds</span> <em
                                                            class="icon ni ni-wallet-in"></em></a>
                                                </li>
                                                <li>
                                                    <a href="../withdrawal/" class="link"><span>Withdraw Funds</span>
                                                        <em class="icon ni ni-wallet-out"></em></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../account-profile/"><em
                                                            class="icon ni ni-user"></em><span>View Profile</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-profile#kyc_section">
                                                        <em class="icon ni ni-lock"></em>
                                                        <span>
                                                                    KYC Verification
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../account-settings/"><em
                                                            class="icon ni ni-setting-alt"></em><span>Security Setting</span></a>
                                                </li>
                                                <li>
                                                    <a href="../account-activities/"><em
                                                            class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="../logout/" onclick="//logout(0);">
                                                        <em class="icon ni ni-signout"></em>
                                                        <spean>Sign out</spean>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-content nk-content-fluid" style="">
                <div class="container-xl wide-lg">
                    <div class="nk-content-body">
                        <div class="buysell wide-xs m-auto">
                            <div class="buysell-nav text-center">
                                <ul class="nk-nav nav nav-tabs nav-tabs-s2">
                                    <li class="nav-item active current-page"><a class="nav-link" href="../deposit">Deposit</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../withdrawal/">Withdraw</a></li>
                                </ul>
                            </div>

                            <div class="buysell-title text-center"><h2 class="title">What do you want to Deposit?</h2>
                            </div>
                            <div class="buysell-block">
                                <form class="forms-sample" onsubmit="return false;" id="deposite_form"
                                      style=" margin-top: 30px">

                                    <div class="form-label-group">
                                        <label>Secure and safely deposit money into your account.</label>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="fund_method">Choose what you want to
                                            deposit</label>
                                        <select name="fund_method" id="fund_method"
                                                onchange="check_coin(this.value);check_rate(this.value)"
                                                class="form-select form-control-xl" data-search="on" required
                                                style=" height: 100px; padding: 30px 0">
                                            <option value="Bitcoin||BTC">Bitcoin (BTC)</option>
                                            <option value="Ethereum||ETH">Ethereum (ETH)</option>
                                            <option value="Litecoin||LTC">Litecoin (LTC)</option>
                                            <option value="Dogecoin||DOGE">Dogecoin (DOGE)</option>
                                            <option value="BNB||BEP20">BNB (BEP20)</option>
                                            <option value="TRC20||USDT">TRC20 (USDT)</option>
                                            <option value="Cardano||ADA">Cardano (ADA)</option>
                                            <option value="XRP||XRP">XRP (XRP)</option>
                                            <option value="ERC20||USDT">ERC20 (USDT)</option>
                                            <option value="Bank Wire||">Bank Wire</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="alt_coin" style="display: none">
                                        <label class="form-label" for="coinname">Alt. Coin Name</label>
                                        <input type="text" class="form-control" name="coinname" id="coinname"
                                               style="display: none" placeholder="e.g Dodge Coin"
                                               aria-label="Alt. Coin Name" aria-describedby="basic-addon1"/>
                                    </div>
                                    <div class="form-group" style=" margin-bottom: 0">
                                        <label class="form-label" for="amount">Amount to Deposit (In USD) </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-primary text-white">$</span>
                                            </div>
                                            <input type="text" min="50" class="form-control form-control-number"
                                                   aria-label="Amount (to the nearest dollar)" name="amount" id="amount"
                                                   placeholder="e.g 1000" required=""/>

                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-note-group">
                                        <span class="buysell-min form-note-alt">Minimum: 50.00 USD</span>
                                        <span class="buysell-rate form-note-alt">1 USD = <span id="dep_coin_rate">0.00005034 BTC</span></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center" id="dep_status"></div>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-block btn-primary" id="funds_btn"
                                            name="funds_btn" onclick="deposit_funds()">
                                        Continue to Deposit
                                    </button>
                                    <div class="form-note text-base text-center" style=" margin-top: 10px">
                                        Note: Deposit confirmation can take few seconds or hours depending on the
                                        blockchain.
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="deposit-funds">
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                            <div class="modal-body modal-body-lg">
                                <div class="nk-block-head nk-block-head-xs text-center">
                                    <h5 class="nk-block-title">Deposit Funds</h5>
                                    <div class="nk-block-text m-t-0">
                                        <div class="caption-text">
                                            You are about to send <strong class="amount_holder"></strong> USD* into your
                                            trading account.
                                        </div>
                                        <span class="sub-text-sm m-t-0">Please review the information and confirm.</span>
                                    </div>
                                </div>
                                <div class="nk-block">
                                    <div class="buysell-overview">
                                        <ul class="buysell-overview-list">
                                            <li class="buysell-overview-item">
                                                <span class="pm-title">Order #</span>
                                                <span class="pm-currency">
                                            <span>
                                                <b id="dep_invoice"></b>
                                            </span>
                                        </span>
                                            </li>
                                            <li class="buysell-overview-item">
                                                <span class="pm-title">Payment method</span>
                                                <span class="pm-currency">
                                            <span class="payment_symbol"></span>
                                            <span>
                                                <b class="coin_name"></b>
                                            </span>
                                        </span>
                                            </li>
                                            <li class="buysell-overview-item">
                                                <span class="pm-title">Total</span>
                                                <span class="pm-currency"><b
                                                        class="amount_holder"></b> &nbsp; USD</span>
                                            </li>
                                        </ul>
                                        <div class="form-control-wrap text-center">
                                            <div class="sub-text-sm" id="dep_qr_code"></div>
                                        </div>
                                        <div class="pay-info text-center">
                                            <h5 class="title text-dark mb-0 clipboard-init">
                                                <span class="amount_holder"></span> <span class="coin_name"></span> in
                                                USD
                                            </h5>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label overline-title-alt lg text-center"><b
                                                class="coin_name"></b> Address
                                        </div>
                                        <div class="form-control-wrap">
                                            <div class="form-clip clipboard-init nk-tooltip"
                                                 data-clipboard-target="#coin_address" title="" data-text="Copy Address"
                                                 data-original-title="Copy">
                                                <em class="click-to-copy icon ni ni-copy"></em>
                                            </div>
                                            <div class="form-icon payment_symbol"></div>
                                            <input type="text" readonly="" class="form-control copy-text"
                                                   id="coin_address" value=""/>
                                        </div>
                                    </div>
                                    <div class="alert-note is-plain mt-4">
                                        <em class="icon ni ni-alert-circle"></em>
                                        <p>After making payment, click on the paid button below.</p>
                                    </div>
                                    <div class="buysell-field form-action text-center">
                                        <div>
                                            <a class="btn btn-block btn-primary popup-open" style=" color:#fff"
                                               data-dismiss="modal" data-toggle="modal" data-target="#confirm-coin">
                                                Paid &nbsp;<b class="coin_name"></b>
                                            </a>
                                        </div>
                                        <div class="pt-3"><a href="#" data-dismiss="modal" class="link link-primary">back
                                            to dashboard</a></div>
                                        <div class="pt-3">
                                            <form onsubmit="return false;" id="cancel_order" class="d-none">
                                                <input type="hidden" class="form-control copy-text" id="order_number"
                                                       value=""/>
                                                <button href="#" data-dismiss="modal" class="link link-danger">Cancel
                                                    Order
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-inner bg-lighter">
                                        <ul>
                                            <li class="alert-note is-plain text-danger">
                                                <em class="icon ni ni-alert-circle"></em>
                                                <p>Be aware that transaction may be delayed for network reasons.</p>
                                            </li>
                                            <li class="alert-note is-plain">
                                                <em class="icon ni ni-info"></em>
                                                <p>Account will be credited once your payment is confirmed.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="confirm-coin">
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                            <div class="modal-body modal-body-lg text-center">
                                <div class="nk-modal">
                                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                                    <div id="confirm_application">
                                        <h4 class="nk-modal-title">Confirm your payment!</h4>
                                        <div class="nk-modal-text">
                                            <p class="caption-text">
                                                If you already paid, please provide us your payment reference to speed
                                                up verification process.
                                            </p>
                                            <form class="form" onsubmit="return false;" id="confirm_order"
                                                  method="POST">
                                                <div class="form-group">
                                                    <div class="form-label text-left">Payment Reference <span
                                                            class="text-danger">*</span></div>
                                                    <div class="form-control-wrap">
                                                        <input name="order_tx" id="order_tx" type="text"
                                                               class="form-control " required=""
                                                               placeholder="Enter your reference id / tx hash">
                                                        <input type="hidden" class="form-control"
                                                               id="confirm_order_number" name="confirm_order_number"
                                                               value=""/>
                                                    </div>
                                                </div>
                                                <ul class="btn-group justify-between align-center gx-4">
                                                    <li>
                                                        <button type="submit" class="btn btn-primary btn-block"
                                                                id="confirm_btn" name="confirm_btn"
                                                                onclick="confirm_order()">
                                                            Confirm Payment
                                                        </button>
                                                    </li>
                                                    <li><a href="#" data-dismiss="modal" data-toggle="modal"
                                                           data-target="#confirm-coin"
                                                           class="link link-btn link-secondary popup-close">Close</a>
                                                    </li>
                                                </ul>
                                                <div class="form-group" id="confirm_status"></div>
                                            </form>
                                            <div class="alert-note is-plain mt-4">
                                                <em class="icon ni ni-alert-circle"></em>
                                                <p>Account will be credited once we confirm that payment has been
                                                    received.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="confirm_submit" style=" display:  none">
                                        <h4 class="nk-modal-title">Deposit Succeeded!!</h4>
                                        <div class="nk-modal-text">
                                            <p class="caption-text">
                                                The amount will be credited into your account upon admin confirmation.
                                            </p>
                                            <div class="alert-note is-plain mt-4 text-center mb-4">

                                                <p><em class="icon ni ni-alert-circle"></em> Transaction ID <b
                                                        id="trx_id"></b></p>
                                            </div>
                                            <a href="../deposit/" class="btn btn-lg btn-mw btn-primary">Deposit More</a>
                                        </div>
                                    </div>
                                    <div class="nk-modal-action-lg">
                                        <ul class="btn-group gx-4">
                                            <li><a href="../dashboard/" class="link link-primary">Return to
                                                Dashboard</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-lighter">
                                <div class="text-center w-100">
                                    <p>Earn 5% for each friend your refer! <a href="../referral/">Invite friends</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright">Edge Technology &copy; 2022. All Rights Reserved.</div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item">
                                    <a class="nav-link" href="../faq/">FAQs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../terms-of-service/">Terms and Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../privacy-policy-page/">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets_inside/js/bundle.js"></script>
<script src="../assets_inside/js/app.js"></script>
<script src="../assets_inside/js/charts.js"></script>

<!-- End custom js for this page -->
<script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../controller/scripts/otybJS.js?v=1.1"></script>
<script src="../controller/scripts/account.js?v=1.01111"></script>
<script src="../controller/scripts/main.js?v=1.0111"></script>
<script src="../wp-includes/js/afsvgtehdujfirkl.js?v=1.01113" type="text/javascript"></script>
<!--Start of Tawk.to Script (0.6.0)-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {};
    var Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/61dacd1bb84f7301d32a15d6/1fovb2dn6";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script (0.6.0)-->
<script>
    function check_rate(x) {
        var xx = x.split("||")[0];
        var pair = x.split("||")[1];
        if (xx != "Alt_Coin" && xx != "Bank Wire") {
            var ajax = ajaxObj("POST", "../controller/post.php");
            ajax.onreadystatechange = function () {
                if (ajaxReturn(ajax) === true) {
                    ___('dep_coin_rate').innerHTML = ajax.responseText + ' ' + pair;
                }
            };
            ajax.send("pair=" + pair + "&function=check_rate");
        }
    }
</script>
</body>

</html>