<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{title }}| Web5Techwise Technology & Portfolio Management Advisory</title>
    <meta name="author" content="Web5Techwise Technology & Portfolio Management Advisory  ">
    <meta name="company" content="Web5Techwise Technology & Portfolio Management Advisory "/>
    <meta name="copyright" content="&copy; 2020 Web5Techwise Technology & Portfolio Management Advisory "/>
    <meta name="publisher" content="Web5Techwise Technology & Portfolio Management Advisory "/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta property="og:image" content="../assets/images/logo/Web5Techwise-logo-2-1.png"/>
    <meta property="og:title" content=" {{title}} | Web5Techwise Technology & Portfolio Management Advisory"/>
    <meta property="og:description" content="Web5Techwise Technology & Portfolio Management Advisory "/>
    <meta name="keywords" content="Web5Techwise Technology & Portfolio Management Advisory ">
    <meta name="Description" content="Web5Techwise Technology & Portfolio Management Advisory ">
    <link rel="icon" href="../assets/images/logo/fav.png"/>

    <link rel="stylesheet" href="../static/css/dashlite.css?ver=2.9.1"/>
    <link id="skin-default" rel="stylesheet" href="../static/css/theme.css?ver=2.9.1"/>
    <link rel="stylesheet" href="../static/css/apps.css?ver=1.0111"/>
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/custom.css?ver=1.01111111"/>

</head>
<body class="nk-body npc-cryptlite has-sidebar has-sidebar-fat">
<div id="language_div">
    <div id="google_translate_element" style="width: auto;padding: 0;"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, 'google_translate_element');
        }
    </script>
</div>

{% block content %} {% endblock content %}

                <script>

                    var investment = JSON.parse('{"26 Jan":0,"27 Jan":0,"28 Jan":"30000.00","29 Jan":"30000.00","30 Jan":"30000.00","31 Jan":"30000.00","01 Feb":"30000.00","02 Feb":"30000.00","03 Feb":"7100.00","04 Feb":"300.00","05 Feb":"200.00","06 Feb":"200.00","07 Feb":"519.96","08 Feb":"519.96","09 Feb":"40355.22","10 Feb":"100.00","11 Feb":"100.00","12 Feb":"100.00","13 Feb":"100.00","14 Feb":"100.00","15 Feb":"20000.00","16 Feb":"20000.00","17 Feb":"109000.00","18 Feb":"109000.00","19 Feb":"109000.00","20 Feb":"109000.00","21 Feb":"109000.00","22 Feb":"100.00","23 Feb":"100.00","24 Feb":"100.00","25 Feb":"100.00"}');

                    var profit = JSON.parse('{"26 Jan":0,"27 Jan":0,"28 Jan":"63420.00","29 Jan":"63420.00","30 Jan":"63420.00","31 Jan":"63420.00","01 Feb":"63420.00","02 Feb":"63420.00","03 Feb":"15108.8","04 Feb":"622.8","05 Feb":"415.2","06 Feb":"415.2","07 Feb":"1033.34","08 Feb":"1033.34","09 Feb":"85374.00","10 Feb":"288.00","11 Feb":"288.00","12 Feb":"288.00","13 Feb":"288.00","14 Feb":"288.00","15 Feb":"42000.00","16 Feb":"42000.00","17 Feb":"109000.00","18 Feb":"109000.00","19 Feb":"109000.00","20 Feb":"109000.00","21 Feb":"109000.00","22 Feb":"204.00","23 Feb":"204.00","24 Feb":"204.00","25 Feb":"204.00"}');

                    var dailyInvestment = {
                        tooltip: false,
                        legend: true,
                        labels: Object.keys(investment),
                        dataUnit: 'USD',
                        stacked: true,
                        lineTension: .3,
                        datasets: [{
                            label: "Investment",
                            color: "#816bff",
                            background: 'transparent',
                            borderWidth: 2,
                            data: Object.values(investment)
                        }, {
                            label: "Profit",
                            color: "#c4cefe",
                            background: 'transparent',
                            borderWidth: 2,
                            data: Object.values(profit)
                        }]
                    };
                </script>


            </div>
<!--        footer section -->
        </div>
    </div>
</div>

<script src="../static/js/bundle.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/charts.js"></script>

<!-- End custom js for this page -->
<script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../static/controller/scripts/otybJS.js?v=1.1"></script>
<script src="../static/controller/scripts/account.js?v=1.01111"></script>
<script src="../static/controller/scripts/main.js?v=1.0111"></script>
<script src="../static/wp-includes/js/afsvgtehdujfirkl.js?v=1.01113" type="text/javascript"></script>
<!--Start of Tawk.to Script (0.6.0)-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {};
    var Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/61dacd1bb84f7301d32a15d6/1fovb2dn6";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script (0.6.0)-->
</body>

</html>