<!DOCTYPE html>
<html lang="en-US" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Flimas Finance is federally insured by the National Credit Union Administration. We do business in accordance with the Fair Housing Law and Equal opportunity Credit Act.">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../images/favicon.png">
    <!-- Page Title  -->
    <title>Home | Welcome to Flimas Finance Online Banking</title>
    <!-- StyleSheets  -->
<!--    <link rel="stylesheet" href="../assets/css/dashlite.css?ver=2.4.0">-->
<!--    <link rel="stylesheet" href="../scss/sweetalert.css">-->
<!--    <link id="skin-default" rel="stylesheet" href="../assets/css/theme.css?ver=2.4.0">-->
<!--    <link id="skin-default" rel="stylesheet" href="../assets/css/theme.css?ver=2.4.0">-->
<!--    <link href="../css/toastr.css" rel="stylesheet"/>-->

        <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{url_for('static', filename=('css/dashlite.css'))}}">
        <link rel="stylesheet" href="{{url_for('static', filename=('css/sweetalert.css'))}}">
    <link id="skin-default" rel="stylesheet" href="../assets/css/theme.css?ver=2.4.0">
    <link id="skin-default" rel="stylesheet" href="../assets/css/theme.css?ver=2.4.0">
        <link rel="stylesheet" href="{{url_for('static', filename=('css/toastr.css'))}}">
</head>

<style type="text/css">
    .btn-primary {
        background-color: #1A4DBE;
    }

    .btn-secondary {
        background-color: #d13636;
    }

    .btn-secondary:hover {
        opacity: 0.6;
    }

    .btn-primary:hover {
        opacity: 0.6;
    }
</style>
<style>
    input[type=number] {
        height: 50px;
        width: 50px;
        font-size: 25px;
        color: #1A4DBE;
        text-align: center;
        border: 3px solid #1A4DBE;
        box-shadow: 4px #1A4DBE;
        border-radius: 7px;
        font-weight: 600;
    }

    input[type=number]:focus {
        border-bottom: 5px solid #008000;

    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<body class="nk-body npc-crypto bg-white pg-auth">
<!-- app body @s -->
<div class="nk-app-root">
    <div class="justify-center card-header">
        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em
                        class="icon ni ni-info"></em></a>
            </div>
            <div class="nk-block nk-block-middle nk-auth-body">
                <center class="brand-logo pb-5">
                    <a href="../.." class="logo-link">
                        <img class="logo-light logo-img logo-img-lg" src="../logo.png" srcset="../logo.png" alt="logo">
                        <img class="logo-dark logo-img logo-img-lg" src="../logo.png" srcset="../logo.png"
                             alt="logo-dark">
                    </a>
                </center>

                <br>


                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title">Enroll a new Account</h3>
                        <div class="nk-block-des alert alert-pro alert-primary">
                            <p class="alert-text">Before you continue, Kindly read and accept our terms and
                                conditions.</p>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->

                <h3 style="font-weight:700; color:Purple;">TERMS AND CONDITIONS</h3>

                <textarea name="terms" rows="12" class="form-control" readonly="readonly" cols="70" style="text-align: justify;
width:100%; padding: 10px; font-size:16px;" autocomplete="off">
Before you can start using our online service you must agree to be bound by the conditions below.  You must read the conditions before you
decide whether to accept them.  If you agree to be bound by these conditions, please click the I accept button below.  If you click on the
Decline button, you will not be able to continue your registration for our online services. We strongly recommend that you print a copy of
these conditions for your reference.

1. DEFINITIONS.
In these conditions the following words have the following meanings.

- ACCOUNT:  any account which you hold and access via our online service.

- ADDITIONAL SECURITY DETAILS:  the additional information you give us to
help us identify you including the additional security question you
provide yourself.

- IDENTITY DETAILS:  the access code we may provide you with.

- Flimas Finance ACCOUNT NUMBER, PASSWORD and ACCOUNT PIN   you choose to identify
yourself when you use our online service.


- YOU, YOUR and YOURSELF  refer to the person who has entered into this
agreement with us.

2. USING THE ONLINE SERVICE.

a. These conditions apply to your use of our online service and in relation to any accounts.  They explain the relationship between you and
us in relation to our online service.  You should read these conditions carefully to understand how these services work and your and our rights
and duties under them.  If there is a conflict between these conditions and your account conditions, these conditions will apply.  This means
that, when you use our online service both sets of conditions will apply unless they contradict each other in which case, the relevant condition
in these conditions apply.

b. If any of your accounts is a joint account, these conditions apply to all of you together and any of you separately.  If more than one of you
uses our online service you must each choose your own username, password and additional security details.

c. By registering to use our online service, you accept these conditions and agree that we may communicate with you by e-mail or through our website.

d. When you use our online service you must follow the instructions we give you from time to time.  You are responsible for ensuring that your
computer, software and other equipment are capable of being used with our online service.

e. Our online sites are secure.  Disconnection from the Internet or leaving these sites will not automatically log you off.  You must always
use the log off facility when you are finished and never leave your machine unattended while you are logged in.  As a security measure, if
you have not used the sites for more than a specified period of time we will ask you to log in again.

3. WHAT RULES APPLY TO SECURITY?

a. As part of the registration for our online service you must provide us with identity details before we will allow you to use the services
for the first time.  You must enter your identity details immediately after signing in, so we can identify you.

b. Every time you use our online service you must give us your username, your password and the answer to an additional security question.

c. You can change your username or password online by following the instructions on the screen.

d. For administration or security reasons, we can require you to choose a new username or change your password before you use (or carry on using)
our online service.

e. You must not write down, store (whether encrypted or otherwise) on your computer or let anyone else know your password, identity details or
additional security details, and the fact that they are for use with your accounts.

f. If you think that someone else knows your password or any of your additional security details or has used any of them to use our online
service, you must do the following:

- For your password, change it online as soon as possible.  If you have difficulty changing your password, you must phone us on +447520645361immediately.  You can give us your username if you phone to change your password.

- For your additional security details, you will need to phone us immediately to change your additional security details.

g. We may give the police or any prosecuting authority any information they need if we think it will help them find out if someone else is
using your username, password or any of your additional security details.

h. We may also keep any e-mails sent to or from us.  We do this to check what was written and also to help train our staff.


</textarea>
                <br><br>
                <button id="btn1" type="button" class="btn btn-secondary"><a href="index"
                                                                             style="color:white;">Decline</a></button>&nbsp;&nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="btn1" type="button" class="btn btn-primary"><a href="register?tc=1" style="color:white;">I
                    Accept</a></button>


            </div><!-- .nk-block -->
            <div class="nk-block nk-auth-footer" style="margin-top:60px;">
                <style type="text/css">
                    a.gflag {
                        vertical-align: middle;
                        font-size: 610px;
                        padding: 610px 0;
                        background-repeat: no-repeat;
                        background-image: url(//gtranslate.net/flags/16.png);
                    }

                    a.gflag img {
                        border: 0;
                    }

                    a.gflag:hover {
                        background-image: url(//gtranslate.net/flags/16a.png);
                    }

                    #goog-gt-tt {
                        display: none !important;
                    }

                    .goog-te-banner-frame {
                        display: none !important;
                    }

                    .goog-te-menu-value:hover {
                        text-decoration: none !important;
                    }

                    body {
                        top: 0 !important;
                    }

                    #google_translate_element2 {
                        display: none !important;
                    }

                    -->
                </style>
                <br><select onchange="doGTranslate(this);">
                <option value="">Select Language</option>
                <option value="en|af">Afrikaans</option>
                <option value="en|sq">Albanian</option>
                <option value="en|ar">Arabic</option>
                <option value="en|hy">Armenian</option>
                <option value="en|az">Azerbaijani</option>
                <option value="en|eu">Basque</option>
                <option value="en|be">Belarusian</option>
                <option value="en|bg">Bulgarian</option>
                <option value="en|ca">Catalan</option>
                <option value="en|zh-CN">Chinese (Simplified)</option>
                <option value="en|zh-TW">Chinese (Traditional)</option>
                <option value="en|hr">Croatian</option>
                <option value="en|cs">Czech</option>
                <option value="en|da">Danish</option>
                <option value="en|nl">Dutch</option>
                <option value="en|en">English</option>
                <option value="en|et">Estonian</option>
                <option value="en|tl">Filipino</option>
                <option value="en|fi">Finnish</option>
                <option value="en|fr">French</option>
                <option value="en|gl">Galician</option>
                <option value="en|ka">Georgian</option>
                <option value="en|de">German</option>
                <option value="en|el">Greek</option>
                <option value="en|ht">Haitian Creole</option>
                <option value="en|iw">Hebrew</option>
                <option value="en|hi">Hindi</option>
                <option value="en|hu">Hungarian</option>
                <option value="en|is">Icelandic</option>
                <option value="en|id">Indonesian</option>
                <option value="en|ga">Irish</option>
                <option value="en|it">Italian</option>
                <option value="en|ja">Japanese</option>
                <option value="en|ko">Korean</option>
                <option value="en|lv">Latvian</option>
                <option value="en|lt">Lithuanian</option>
                <option value="en|mk">Macedonian</option>
                <option value="en|ms">Malay</option>
                <option value="en|mt">Maltese</option>
                <option value="en|no">Norwegian</option>
                <option value="en|fa">Persian</option>
                <option value="en|pl">Polish</option>
                <option value="en|pt">Portuguese</option>
                <option value="en|ro">Romanian</option>
                <option value="en|ru">Russian</option>
                <option value="en|sr">Serbian</option>
                <option value="en|sk">Slovak</option>
                <option value="en|sl">Slovenian</option>
                <option value="en|es">Spanish</option>
                <option value="en|sw">Swahili</option>
                <option value="en|sv">Swedish</option>
                <option value="en|th">Thai</option>
                <option value="en|tr">Turkish</option>
                <option value="en|uk">Ukrainian</option>
                <option value="en|ur">Urdu</option>
                <option value="en|vi">Vietnamese</option>
                <option value="en|cy">Welsh</option>
                <option value="en|yi">Yiddish</option>
            </select>
                <div id="google_translate_element2"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit2() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'en',
                            autoDisplay: false
                        }, 'google_translate_element2');
                    }
                </script>
                <script type="text/javascript"
                        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
                <script type="text/javascript">
                    /* <![CDATA[ */
                    eval(function (p, a, c, k, e, r) {
                        e = function (c) {
                            return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
                        };
                        if (!''.replace(/^/, String)) {
                            while (c--) r[e(c)] = k[c] || e(c);
                            k = [function (e) {
                                return r[e]
                            }];
                            e = function () {
                                return '\\w+'
                            };
                            c = 1
                        }
                        ;
                        while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
                        return p
                    }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
                    /* ]]> */
                </script>
                <div class="mt-3">
                    <p>&copy; 2022 Flimas Finance. All Rights Reserved.</p>
                </div>
            </div><!-- .nk-block -->
        </div><!-- .nk-split-content -->

    </div><!-- .nk-split -->
</div><!-- app body @e -->
<!-- JavaScript -->
<script src="../js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#loginForm").on('submit', (function (e) {
            document.getElementById("btn").disabled = true;
            e.preventDefault();
            $.ajax({
                url: "../scripts/auth?action=userLogin",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $("#loginResult").html(data);
                    document.getElementById("btn").disabled = false;
                },
                error: function () {
                }
            });
        }));
    });
    //2FA FORM VERIFICATION
    $(document).ready(function (e) {
        $("#2faForm").on('submit', (function (e) {
            document.getElementById("btn").disabled = true;
            e.preventDefault();
            $.ajax({
                url: "../scripts/auth?action=userVerify2fa",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $("#loginResult").html(data);
                    document.getElementById("btn").disabled = false;
                },
                error: function () {
                }
            });
        }));
    });

    //USER PASSWORD RESET
    $(document).ready(function (e) {
        $("#resetForm").on('submit', (function (e) {
            document.getElementById("btn").disabled = true;
            e.preventDefault();
            $.ajax({
                url: "../scripts/auth?action=userPassReset&code=372391",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $("#resetResult").html(data);
                    document.getElementById("btn").disabled = false;
                },
                error: function () {
                }
            });
        }));
    });


    //2FA INPUTS
    function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
    }

    function onKeyUpEvent(index, event) {
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
            if (index !== 4) {
                getCodeBoxElement(index + 1).focus();
            } else {
                getCodeBoxElement(index).blur();
                // Submit code
                console.log('submit code ');
            }
        }
        if (eventCode === 8 && index !== 1) {
            getCodeBoxElement(index - 1).focus();
        }
    }

    function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
            const currentElement = getCodeBoxElement(item);
            if (!currentElement.value) {
                currentElement.focus();
                break;
            }
        }
    }

    var max_chars = 1;

    $('#codeBox1').keydown(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });

    $('#codeBox1').keyup(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });
    $('#codeBox2').keydown(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });

    $('#codeBox2').keyup(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });
    $('#codeBox3').keydown(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });

    $('#codeBox3').keyup(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });
    $('#codeBox4').keydown(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });

    $('#codeBox4').keyup(function (e) {
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });


</script>
<script>
    window.onload = function () {
        document.getElementById("btn").disabled = false;
    };


</script>
<!--<script src="../assets/js/bundle.js?ver=2.4.0"></script>-->
<!--<script src="../assets/js/scripts.js?ver=2.4.0"></script>-->
<!--<script src="../js/vendors/sweetalert.js"></script>-->
<!--<script src="../assets/js/custom.js"></script>-->
<!--<script src="../js/toastr.js"></script>-->


        <link rel="stylesheet" href="{{url_for('static', filename=('js/bundle.js'))}}">
        <link rel="stylesheet" href="{{url_for('static', filename=('js/scripts.js'))}}">
        <link rel="stylesheet" href="{{url_for('static', filename=('js/vendors/sweetalert.js'))}}">
        <link rel="stylesheet" href="{{url_for('static', filename=('js/custom.js'))}}">
        <link rel="stylesheet" href="{{url_for('static', filename=('js/toastr.js'))}}">
</body>
</html>