{% extends 'layout.html' %}

{% block content %}

      <div style="background-image: url( 'static/img/banner-bg.jpg' ) " >
          <div class="container"><br>
              <div style="margin-left: 25% " class="row">
                  <div class="jumbotron col-md-6 offset-md-3" style="box-shadow: 2px 3px 3px #c0c0c0, 2px 3px 3px #cccccc">
                      <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-button mb-4">Login Today</legend>

                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                     {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in form.email.errors %}
                                                <span> {{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ form.email(class="form-control form-control-lg") }}
                                     {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                     {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in form.password.errors %}
                                                <span> {{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ form.password(class="form-control form-control-lg") }}
                                     {% endif %}
                                </div>

                                <div class="form-check">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </fieldset>

                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-outline-info opacity-1") }}
                            </div>
                            <small class="text-muted ml-2">
                                <a href="#">Forgot password?</a>
                            </small>
                      </form>
                      <br>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                I Don't Have An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
                            </small>
                        </div>
                  </div>
              </div>
          </div>

      </div>

{% endblock content %}